@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import './css/button.css';
@import './css/form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

#app {
  .layout {
    font-family: 'Inter', sans-serif;
    scrollbar-gutter: stable both-edges;
  }
}

@layer components {
  section {
    @apply my-2 rounded-md p-2 pb-6;
  }
  h1 {
    @apply text-center font-bold;
  }

  h2 {
    @apply w-full font-bold;
  }

  p {
    @apply w-full py-6;
  }

  ol,
  ul,
  menu {
    list-style: disc;
    padding-left: 2rem;
    li {
      padding-bottom: 1rem;
    }
  }

  .link {
    @apply text-blue-500 hover:underline;
  }
}
